* {
  margin: 0;
 padding: 0px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.5s ease;
}

.navbar {
  display: flex;
  margin: 0px 3rem;
  padding: 0px 20px;
}
.logo {
  height: 90px;
  padding-left: 4px;
}

#menu{
  width: 8%;
  margin-left: auto;  
}
.slideContainer{
display: flex;
flex-direction: start;
justify-content: center;
overflow: hidden;
}
.slideContainer img {
display: none;
}
.slideContainer img.active {
display: inline-block;
}

.slideImage{
width: 90%;
/* margin: 0 rem; */
z-index: -1;
height:84vh;
}

.nextArrow {
position: absolute;
cursor: pointer;
top: 45%;
left: 83%;
width: 8rem;
z-index: 100;
}

.iconCont {
position: absolute;
top: 94%;
left: 85%;
z-index: 200;
}
.iconCircle {
width: 35px;
margin-left: -5px;
}

.blueTextBar {
position: absolute;
top: 50%;
z-index: 1000;
background-color: #244AC2;
color: white;
font-size: 19px;
text-align: center;
width: 25em;
height: 4em;
}

.blueTextBar p {
margin-top: 6%;
}

.blackBar {
position: absolute;
top: 50%;
background-color: black;
width: 100%;
height: 4rem;
z-index: -100;
}


/* TEXT SECTION */
.parSection{
  display: flex;
  justify-content: space-between;
  margin: 50px 80px 5px;
  flex-wrap: wrap;
}

.parText {
  font-size: 19px;
  font-weight: 300;
  line-height: 36px;
  color: #061C2C;
  width: 55%;
  padding-left: 15px;
}

.parIcons {
  width: 30rem;

}

/* CARDS */
.card-Container {
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
  margin: 1rem ;
  gap: 1rem;
}


.blueCard{
  background-color: #061C2C;
  color:white;
  padding: 20px;
  margin-bottom: rem;
  height: auto;
}
.blueCard img {
  height: 5rem;
  width: 3, 5rem;
  margin-bottom: 5%;
}

.cardText {
  font-size: 17px;
  font-weight: 300;
}
/* BTN ON CARD */
.btnCont{
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  width: 103%;
  margin-bottom: 2rem;
  margin-top: 4rem;
 
}
.btnCard {
  display: flex;
  background-color: #244ac2;
  color: white;
  font-weight: 300;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  width: 40%;
  margin-top: -2rem;
  width: 100% !important;
  margin-right: 12px;

 
}


.card {
  width: calc(31% - 1rem); 
}
.btnCard img {
  height: 10px ;
  width: 10px ;
  margin-left: auto; 
  

}






/* 19, 17, 14 for font size */


/* MEDIA QUERY  */

@media (max-width: 1233px) {
  .navbar {
    margin: 0px 2rem;
    padding: 0px;
  }

  .logo {
    height: 90px;
    padding-left: 0px;
  }
  


.iconCont{
  top: 92%;
  left: 80%;
}

.nextArrow{
  width: 6rem;
  top: 50%;
}

.blueTextBar{
  width: 20rem;
  font-size: 16px;
}
.blueTextBar p {
  margin-top: 7%;
  }
  .slideContainer img{
    width: 90%;

  }
  br{
    display: none;
  }

  .parSection{
    margin: 25px 45px 5px;
    flex-wrap: wrap;
    line-height: normal;
  }
  
  .parIcons {
    width: 18rem;
    margin-left: 0px;
    padding-left: 0px;
  
  }

  .parText{
    font-size: 18px;
  }

  .card-Container {
    margin-left: 60px;
  }
  .btnCont{
    width: 100%;
    margin-right: 0;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    margin-top: 0rem;
  }

  .btnCard {
    width: calc(50% - 10px); 
    margin-top: 10px;
    margin-right: 0px; 
    margin-bottom: 0px; 
  }
  

}









@media (max-width: 861px) {

  .navbar {
    margin: 0px 1rem;
    padding: 0px;
  }

  .logo {
    height: 80px;
    padding-left: 0px;
  }
  #menu{
    width: 10%;
    margin-left: auto;  
  }

  .iconCont{
    top: 90%;
    left: 75%;
  }
  
  .nextArrow{
    width: 4.5rem;
    top: 50%;
    
  }
  
  .blueTextBar{
    width: 18rem;
    height:3.5rem ;
    font-size: 13px;
    top: 50%;
  }
  .blackBar{
    height: 3.5rem;
  }
 
  .parText{
    width: 100%;
  }
  
  .parIcons {
    width: 15rem;
  
  }
  .card-Container {
    margin-left: 45px;
  }
}


  /* TABLET SIZE (nxt 600) */
  @media (max-width: 768px){
    .slideImage{
      max-width: 100%;
      height: auto;
    }
    .iconCont{
      top: 65%;
      left: 79%;
    }
    .iconCircle {
      width: 25px;
      margin-left: -5px;
      }
      
    
    .nextArrow{
      width: 3rem;
      top: 38%;
      
    }
    
    .blueTextBar{
      width: 13rem;
      height:3rem ;
      font-size: 10px;
      top: 38%;
    }
    .blueTextBar p {
      margin-top: 9%;
      }
    .blackBar{
      height: 3rem;
      top: 38%;
    }
   


  }
  @media (max-width: 740px){
    .iconCont{
      top: 62%;
    }
 

  }

  @media (max-width: 696px){
    .iconCont{
      top: 55%;
    }
  }

  @media (max-width: 610px){
    #menu{
      width: 11%;
      margin-left: auto;  
    }
    .logo {
      height: 70px;
      padding-left: 4px;
    }
    .navbar {
      margin: 0px 0.5rem;
      padding: 0px;
    }
    



    .iconCont{
      top: 48%;
    }
    .iconCircle {
      width: 20px;
      }
      
    
    .nextArrow{
      width: 3rem;
      top: 30%;
    }
    .blueTextBar{
      font-size: 10px;
      top: 30%;
    }
    .blueTextBar p {
      margin-top: 9%;
      }
    .blackBar{
      top: 30%;
    }

    .parText{
      font-size: 15px;
      line-height: 1.9;
      padding-left: 2px;
    }
    .card-Container {
      margin-left: 30px;
    }

    .btnCard p{
      font-size: 12px;
    }


  }

  @media (max-width: 542px){
    .iconCont{
      top: 45%;
    }
    .nextArrow{
      width: 2.5rem;
      top: 28%;
    }
    .blueTextBar{
      font-size: 10px;
      width: 10rem;
      top: 28%;
    }
    .blueTextBar p {
      margin-top: 12%;
      font-size: 9px;
      }
    .blackBar{
      top: 28%;
    }
  

  }

  @media (max-width: 480px){
    
    .iconCont{
      top: 38%;
      margin-left: -18px;
    }
    .nextArrow{
      width: 2rem;
      top: 25%;
    }


  }

  @media (max-width: 450px){
    #menu{
      width: 13%;
      margin-left: auto;  
    }
    .logo {
      height: 50px;
      padding-left: 4px;
    }
    .navbar {
      margin: 0px 0.4rem;
      padding: 0px;
    }
    



    .iconCont{
      top: 35%;
      margin-left: -18px;
    }
    .nextArrow{
      width: 2rem;
      top: 22%;
    }
    .blueTextBar{
      font-size: 10px;
      width: 9rem;
      top: 22%;
    }
    .blueTextBar p {
      margin-top: 13%;
      font-size: 8.5px;
      }
    .blackBar{
      top: 22%;
    }

    .parText{
      font-size:15px;
    }
    .parIcons {
      width: 20rem;
    
    }
    .card-Container {
      margin-left: 25px;
    }
    .btnCard p{
      font-size: 10px;
    }

  

  }

  @media (max-width: 395px){
    .iconCont{
      top: 30%;
      margin-left: -18px;
    }
    .nextArrow{
      width: 1.5rem;
      top: 20%;
    }
    .blueTextBar{
      font-size: 10px;
      width: 9rem;
      top: 20%;
    }
    .blueTextBar p {
      margin-top: 13%;
      font-size: 8.5px;
      }
    .blackBar{
      top: 20%;
    }

    /* .parText{
      font-size:15px;
    } */
    .parIcons {
      width: 15rem;
    
    }
    .btnCard p{
      font-size: 10px;
    }
  

  }

  @media (max-width: 328px){
    #menu{
      width: 13%; 
    }
    .logo {
      height: 30px;
      padding-left: 4px;
    }
    .navbar {
      margin: 0px 0.5rem;
      padding: 0px;
    }
    
    .iconCont{
      top: 25%;
      margin-left: -30px;
    }
    .nextArrow{
      width: 1.5rem;
      top: 15%;
    }
    .blueTextBar{
      font-size: 8px;
      width: 8.5rem;
      height: 2rem;
      top: 15%;
    }
    .blueTextBar p {
      margin-top: 8%;
      font-size: 8px;
      }
    .blackBar{
      top: 20%;
      display: none;
    }
/* 
    .parText{
      font-size:10px;
    } */
    .parIcons {
      width: 17rem;
    
    }
    
  .parSection{
    margin: 15px 10px 10px 15px;
  
  }
  .card-Container {
    margin-left: 18px;
  }

  }


  /* breakpoints for cards */

  @media (max-width: 1420px) {
    .card-Container {
      flex-direction: column; 
      /* margin-left:70px; */
    }
  
    .card {
      width: 100%;
      margin-bottom: 20px; 
    }
    .cardText br{
      display: none;
    }

 
  }
  